<!DOCTYPE html>
<html>
<head>
	<title>Whiteboard Town Bank - Clear Data</title>
</head>
<body>
	<h1>Whiteboard Town Bank</h1>
	<br/>
	<h2>Are you <em>SURE</em> you want to clear <em>ALL</em> the data?</h2>
	<br/>
	
	<form action="clear" method="post">
    <label><span>Password:</span><input type="password" value="" name="password" required/></label>
    <br/>
    <input type="submit" value="Yes, please clear ALL my data and I won't blame you if I was wrong">
	</form>	
	<br/>
	<a href="/">NO!  Take me away from here right away!</a>
</body>
</html>